body {
  background-color: white;
}

.yellow-card {
  width: 550px;             
  height: 750px;             
  background-color: #f9e8c4; 

   
  
}
.purple-strip-top{
    margin-top: -5px;
    height: 50px;
    background-color: rgb(95, 28, 95); 
}

.main-title {
    text-align: center; 
    margin-top: -10px;   
    margin-bottom: -70px; 
}

.table{
    width:500px;      
    height: 400px;     
    
    font-size: large;
    font-weight: bolder;

  
    margin-top: 100px; 
    margin-left: auto; 
    margin-right: auto;
}

.purple-strip-bottom{
    margin-top: -20px;
    height: 50px;
    background-color: rgb(95, 28, 95); 

}

.Signature{
  text-align:right ;
  margin-top: 30px;
  margin-right: 10px;
}


.Logo{
  padding-top: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: rgb(232, 224, 210);
  text-align: center;
  padding: 5px;
}


/* .table td {
  border: 2px solid black; 
} */