.Navbar{
    width: 1650px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.Hero{
    width: 1650px;
    height: 3390px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    
}

.Section1{
    width: 1615px;
    height: 740px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Section2{
    width: 1615px;
    height: 1000px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Section3{
    width: 1615px;
    height: 500px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Section4{
    width: 1615px;
    height: 600px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Section5{
    width: 1615px;
    height: 400px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Footer{
    width: 1650px;
    height: 500px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
}

.Logo{
    width: 400px;
    height: 80px;
    margin: 5px;
    /* margin-top: -10px; */
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-links{
    width: 400px;
    height: 80px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.nav-buttons{
    width: 400px;
    height: 80px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

}

.Button1{
    height: 42px;
    width: 120px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Button2{
    height: 42px;
    width: 120px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 20;
    display: flex;
    gap: 15px;
}